# LOGO_FIRM_NO dogruysa bos birakin; script dbo.LG_XXX_ITEMS adini otomatik turetir.
# Ozel view/kaynak kullaniliyorsa elle doldurun: LOGO_PRODUCT_TABLE=dbo.VW_POWERSA_PRODUCTS
LOGO_PRODUCT_TABLE=
LOGO_PRODUCT_CARDTYPES=1
LOGO_STOCK_TABLE=
LOGO_PRICE_TABLE=
LOGO_PRODUCT_SUBSTITUTE_TABLE=
# Standart Logo urun resmi: dbo.LG_XXX_XX_PERDOC, INFOREF -> ITEMS.LOGICALREF,
# LDATA -> image/binary. Bos birakilirsa script bu tabloyu otomatik dener.
LOGO_PRODUCT_DOCUMENT_TABLE=
LOGO_PRODUCT_IMAGE_TABLE=
LOGO_PRODUCT_IMAGE_REF_COLUMN=
LOGO_PRODUCT_IMAGE_DATA_COLUMN=
LOGO_PRODUCT_IMAGE_PATH_COLUMN=
LOGO_PRODUCT_IMAGE_ORDER_COLUMN=
LOGO_PRODUCT_IMAGE_ROOT=
LOGO_PRODUCT_IMAGE_MAP_FILE=
LOGO_PRODUCT_IMAGE_FALLBACK_DIR=
# Raf Bilgileri tab'i ayri custom tabloda duruyorsa doldurun.
# Ornek: LOGO_PRODUCT_RAF_TABLE=dbo.LG_XT1002_003
LOGO_PRODUCT_RAF_TABLE=
# Raf Bilgileri Excel'den CSV/TSV olarak alinacaksa doldurun.
# Ornek: LOGO_PRODUCT_RAF_MAP_FILE=C:\PowersaB2B\product-raf-map.csv
LOGO_PRODUCT_RAF_MAP_FILE=
LOGO_WAREHOUSE_NAME_MAP=
LOGO_WAREHOUSE_RAF_KEY_MAP=
SYNC_PRODUCTS_SKIP_ALIASES=
LOGO_PRICE_PTYPE=
POWERSA_PRICE_LIST_CODE=A
